@using IcsyMvc.Models;
@model ContactFormModel

@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>Keep In Touch!</h1>
    <p class="jumbotron-text">Thanks for stopping by. We hope you have enjoyed your visit. If you are interested in finding out more about Inner City Science for Youth, please complete the handy dandy form below. We will get back to you as soon as possible.</p>
</div>

<div class="row contact-row">
    <div class="col-md-6">
        <div class="form-heading"><h2>Contact US</h2></div>
        <form class="contact-form">
            <div class="form-group">
                @Html.LabelFor(x => x.FromFirstName, new { @class="sr-only" })
                @Html.TextBoxFor(x => x.FromFirstName, new { @class="form-control", @placeholder="First Name" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.FromLastName, new { @class = "sr-only" })
                @Html.TextBoxFor(x => x.FromLastName, new { @class = "form-control", @placeholder = "Last Name" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.FromEmail, new { @class = "sr-only" })
                @Html.TextBoxFor(x => x.FromEmail, new { @class = "form-control", @placeholder = "Email", @type="Email" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Subject, new { @class = "sr-only" })
                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @placeholder = "Subject" })
            </div>
            <div class="form-group">
                @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @placeholder = "Message", @rows = "5" })
            </div>
            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <img class="science-image img-responsive" src="/images/kid_science.jpg" alt="child working with science">
    </div>
</div>